body{
   
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.nav-heading h1{
    text-align: center;
    font-size: 3rem;
}

.nav-link{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
   
}
.nav-link a{
    margin: 20px 0;
    background-color: transparent;
}


/* profile starts here */
.top-weather-icon{
    right: 100px;
    width: 120px;
}

.top-weather-icon:hover{
    width: 140px;
}
.bottom-weather-icon{
    width: 120px;
    left: 100px;

}

.bottom-weather-icon:hover{
    width: 140px;
}

.profile-desc{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}




/* profile ends here */

/* About Me starts here */

.aboutMeImg img{
    margin-top: 118px;
    transform: scale(1.3);
    border: 4px solid white;
    margin-left: -55px;
    
}
.aboutMeDesc p{
    text-align: left;
}


/* About Me ends here */


/* Contact section ends here */


.achievements{
    padding-right: 10px;
}


/* Contact section ends here */


/* Footer section starts here */
.footer-menu a{
    display: inline;
    margin: 12px;
}


/* Footer section starts here */

